<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            {{ if or .Site.Params.navbar.brandLogo .Site.Params.favicon }}
                <div class="pb-2">
                    <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
                        <img alt="Footer logo" src="{{ .Site.Params.navbar.brandLogo | default .Site.Params.favicon }}" width="200px">
                    </a>
                </div>
            {{ end }}
            &copy; {{ now.Format "2006"}} {{ .Site.Params.copyright }} {{ .Site.Params.footer.terms.copyright | default (i18n "copyright") }} -
            <a href="{{ .Site.Params.footer.terms.path }}" class="terms-link">{{ .Site.Params.footer.terms.name | default (i18n "Terms and conditions") }}</a><br>
            {{ if and .Site.Params.company.coc .Site.Params.company.tax }}
                <b>KVK</b>: {{ .Site.Params.company.coc }} | <b>BTW</b>: {{ .Site.Params.company.tax }}
            {{ end }}
        </div>
    </div>
</div>
